# filter Data, create labels

In [1]:
import pandas as pd
import numpy as np
from scripts.AA_window import AAwindowrizer as aaw
from scripts import StandardConfig

path, sep = StandardConfig.find_folderpath()

In [2]:
allout_data = pd.read_excel("raw_data/all_Annots_N_out.xlsx", "Preds").set_index("entry")

In [3]:
allout_data.head(10)

,annotation_software,name,gene_name,organism,dataset,len_sequence,protein_domains,protein_category,len_signal,len_ecto,len_TMD,len_endo,start_pos_TMD,stop_pos_TMD,jmd_n,tmd,jmd_c,top_prediction (Annot. AI / DB),subcellular_location
entry,,,,,,,,,,,,,,,,,,,
P48551,UniProt,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),26.0,217.0,21.0,251.0,244.0,264.0,QESESAESAK,IGGIITVFLIALVLTSTIVTL,KWIGYICLR,2/8,Membrane;PM;Secreted
P48551,Phobius,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),NaN,NaN,25.0,NaN,244.0,268.0,QESESAESAK,IGGIITVFLIALVLTSTIVTLKWIG,YICLRNSLP,NaN,NaN
P48551,TMHMM,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),NaN,NaN,23.0,NaN,7.0,29.0,MLLSQN,AFIFRSLNLVLMVYISLVFGISY,DSPDYTDES,NaN,NaN
P48551,PolyPhobius,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),26.0,216.0,22.0,251.0,243.0,265.0,GQESESAESA,KIGGIITVFLIALVLTSTIVTLK,WIGYICLRNS,NaN,NaN
P48551,SPOCTOPUS,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),30.0,214.0,21.0,250.0,245.0,266.0,ESESAESAKI,GGIITVFLIALVLTSTIVTLKW,IGYICLRNSL,NaN,NaN
P48551,TOPCONS,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),26.0,217.0,21.0,251.0,244.0,265.0,QESESAESAK,IGGIITVFLIALVLTSTIVTLK,WIGYICLRNS,NaN,NaN
P48551,DeepTMHMM,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),26.0,217.0,21.0,251.0,244.0,264.0,QESESAESAK,IGGIITVFLIALVLTSTIVTL,KWIGYICLR,NaN,NaN
P48551,Membranome,INAR2_HUMAN,IFNAR2,HUMAN,SUBEXPERT,515.0,"['S', 'o', 'M', 'i']",ssTMD N-out (signal peptide),NaN,NaN,25.0,NaN,243.0,267.0,GQESESAESA,KIGGIITVFLIALVLTSTIVTLKWI,GYICLRNSLP,NaN,Plasma memb.
P48551,arithmetic mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,NaN,244.0,266.0,QESESAESAK,IGGIITVFLIALVLTSTIVTLKW,IGYICLRNSL,NaN,NaN
P48551,Expert curated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ESAK,IGGIITVFLIALVLTSTIVTL,KWIG,NaN,NaN

In [4]:
get_sequences = pd.read_excel("raw_data/UniProt_all_Nout_filtered.xlsx").set_index("entry")[["name","sequence"]]
get_sequences.head(5)

               name                                           sequence
entry
Q03157  APLP1_MOUSE  MGPTSPAARGQGRRWRPPPLPLLLPLSLLLLRAQLAVGNLAVGSPS...
Q06481  APLP2_HUMAN  MAATGTAAAAATGRLLLLLLVGLTAPALALAGYIEALAANAGTGFA...
P05067     A4_HUMAN  MLPGLALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGRLNMHMN...
P30530    UFO_HUMAN  MAWRCPRMGRVPLAWCLALCGWACMAPRGTQAEESPFVGNPGNITG...
P35613   BASI_HUMAN  MAAALFVLLGFALLGTHGASGAAGFVQAPLSQQRWVGGSVELHCEA...

In [5]:
arithmetic_mean_all = allout_data[allout_data["annotation_software"]=="arithmetic mean"][["start_pos_TMD", "stop_pos_TMD"]]
arithmetic_mean_all.head(5)

        start_pos_TMD  stop_pos_TMD
entry
P48551          244.0         266.0
Q86YL7          129.0         152.0
P35590          762.0         785.0
P09803          711.0         733.0
P19022          724.0         745.0

In [6]:
arithmetic_mean_seq = pd.concat([arithmetic_mean_all, get_sequences], axis=1).dropna()
arithmetic_mean_seq.head(5)

,start_pos_TMD,stop_pos_TMD,name,sequence
entry,,,,
P48551,244.0,266.0,INAR2_HUMAN,MLLSQNAFIFRSLNLVLMVYISLVFGISYDSPDYTDESCTFKISLR...
Q86YL7,129.0,152.0,PDPN_HUMAN,MWKVSALLFVLGSASLWVLAEGASTGQPEDDTETTGLEGGVAMPGA...
P35590,762.0,785.0,TIE1_HUMAN,MVWRVPPFLLPILFLASHVGAAVDLTLLANLRLTDPQRFFLTCVSG...
P09803,711.0,733.0,CADH1_MOUSE,MGARCRSFSALLLLLQVSSWLCQELEPESCSPGFSSEVYTFPVPER...
P19022,724.0,745.0,CADH2_HUMAN,MCRIAGALRTLLPLLAALLQASVEASGEIALCKTGFPEDVYSAVLS...

In [7]:
list_pos_column = [{"pos_label" : "start_pos_TMD", "start_pos" : True}, {"pos_label" : "stop_pos_TMD", "start_pos" : False}]
for items in list_pos_column:
    arithmetic_mean_labels = aaw.get_aa_window_df(window_size=4, df=arithmetic_mean_seq, column_id="name", 
                                                  column_seq="sequence", column_aa_position=items["pos_label"], 
                                                  start_pos=items["start_pos"], start_set_positive=False)
    arithmetic_mean_labels_t2 = aaw.modify_label_by_ident_column(df_label=arithmetic_mean_labels.show_df(), df_compare=allout_data, column_id="name", threshold=2)
    print(arithmetic_mean_labels_t2.window_describe())
    arithmetic_mean_labels_t2.show_df().to_excel(f"labels{sep}am_t2_NO_BIAS_{items["pos_label"]}.xlsx")

(               ID  positive_count positive_percent
0     INAR2_HUMAN               2            2 / 7
1      PDPN_HUMAN               2            2 / 7
2      TIE1_HUMAN               3            3 / 7
3     CADH1_MOUSE               2            2 / 7
4     CADH2_HUMAN               2            2 / 7
...           ...             ...              ...
2865   DGKE_MOUSE               1            1 / 7
2866  ATP68_HUMAN               1            1 / 7
2867  DNJC4_HUMAN               1            1 / 7
2868  KCNE1_MOUSE               1            1 / 7
2869  KLOTB_HUMAN               1            1 / 7

[2870 rows x 3 columns], average_positive    1.82 / 7
min                    1 / 7
max                    4 / 7
ID_count                2870
dtype: object)
(               ID  positive_count positive_percent
0     INAR2_HUMAN               2            2 / 7
1      PDPN_HUMAN               2            2 / 7
2      TIE1_HUMAN               2            2 / 7
3     CADH1_MOUSE               1            1 / 7
4     CADH2_HUMAN               2            2 / 7
...           ...             ...              ...
2835   DGKE_MOUSE               2            2 / 7
2836  ATP68_HUMAN               1            1 / 7
2837  DNJC4_HUMAN               1            1 / 7
2838  KCNE1_MOUSE               1            1 / 7
2839  KLOTB_HUMAN               1            1 / 7

[2840 rows x 3 columns], average_positive    1.85 / 7
min                    1 / 7
max                    4 / 7
ID_count                2840
dtype: object)